/*------------------------------------------------------------*
**  Global
**------------------------------------------------------------*/
body
  {
   font-family: TimesNR,Georgia, serif;
   margin:5px auto;
   text-align:center;
  }
a:link,a:visited,a:active 
  {
   text-decoration:none;
  }
a:hover{
  text-decoration:underline;
}

/*------------------------------------------------------------*
**  Container
**------------------------------------------------------------*/    
#container {
    margin: 5px auto;
    width: 940px;
    border: 1px solid #006666;
    text-align: left;
    padding: 0px 5px; 
    }
/*------------------------------------------------------------*
**  logo
**------------------------------------------------------------*/    
#logo {
    padding:5px 0px 0px 0px;
    }  
#logo table
  {
   border-collapse:collapse;
   width:940px;  
  }

#logo th
  {
   background-color:#996600;
   border-spacing:0px;
   text-align:left;
   padding:15px 0px 0px 0px;
  }

#logo td
  {
   background-color:#996600;
   border-spacing:0px;
  }
  
#logo img
{
	border: "0";
	width: 940px;
}
  
#logo h1
  {
  color:white;
  text-indent:1.5em;
  text-decoration:underline;
  }

#logo h2
  {
   color:white;
   text-indent:2.5em;
  }

/*------------------------------------------------------------*
**  Menu
**------------------------------------------------------------*/    
#menu {
  width:940px; 
  height:35px; 
  background-color:#996600;
  border-bottom: 2px solid #996600;
  font-weight: bold;
}

#menu ul { 
  list-style:none; 
  margin:0px; 
  padding:0px;
}

#menu ul li {float:left;}
#menu ul li a#current {
  background-color:#996600;
}
#menu ul li a { 
  color:white; 
  text-decoration:none; 
  display:block; 
  width:100px;
  line-height:35px; 
  text-align:center;  
  font-size:15px;
  border-right: 3px solid #ffffff;
}

#menu ul li a:hover{ 
  background-color:#006633;
}
/**************sublist********/
#menu ul li ul { 
  display:none; 
  position:absolute;
}
#menu ul li ul li { 
  float:none;
  width:100px;
  background-color:#006666;
  margin:0;
}
#menu ul li ul li a:hover {
  background-color:#006633;
}
#menu ul li:hover ul { 
display:block;
}


/*------------------------------------------------------------*
**  content
**------------------------------------------------------------*/  
#content {
    width:900px;
    margin: 0px auto;
}
#content h3{
  font-size:1.5em;
  text-decoration:underline;
 }
#content p {
  text-align:justify;
  font-size:1.1em;
}
/*------------------------------------------------------------*
**  footer
**------------------------------------------------------------*/  
#footer {
    text-align:center; 
    padding:5px 0px 5px 0px;
    }
#footer table
  {
   border-collapse:collapse;
   width:940px;
  }

#footer th
  {
   background-color:#006666;
   border-spacing:0px;
   padding:15px 0px 0px 0px;
  }

#footer h4
  {
  color:white;  
  }
/*------------------------------------------------------------*
** horizontal rule
**------------------------------------------------------------*/ 
hr 
  {
   color:#006699; 
   width:940px;
  }



